/* Universal Styles */
body {
  background-color: black;
  font-family: "helveics" sans-serif;
  color: seashell;
  opacity: 0.9;
  font-size: 22px;
  /*text-align: center;*/
}

/* Header */
.header {
  display: inline-flex;
  position: fixed;
  height: 69px;
  flex-shrink: 1;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 2;
  background-color: black;
}

.logo {
  height: 50px;
  position: relative;
  left: 10px;
}

.nav {
  position: relative;
  left: 950px;
  top: 20px;
  display: inline-flex;
  color: seashell;
  justify-content: space-between;
}

.mission,
.locations,
.featured, {
  padding-left: 10px;
  text-decoration: underline;
}

/* Mission */
.mission {
   background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
   margin: 0 auto;
   height: 700px;
   width: 1200px;
   position: relative;
   top: 70px;
   text-align: center;
   z-index: 1;
}

#statement {
  background-color: black;
  position: relative;
  top: 300px;
}


/* Tea of the Month */


/* Locations */


/* Contact */


/* Footer */
